* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
	background-color: rgb(141, 170, 37);
	color: #fff;
}

::selection {
	background-color: rgb(141, 170, 37);
	color: #fff;
}

:focus {
	outline: 0;
}

customhtml > * {
	position: relative;
    z-index: 10;
}

body,
html {
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
}

html {
	position: relative;
}

body {
	background: #fff;
	color: #000;
}

a:active {
	opacity: 0.7;
}

#backdrop {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 100%;
	z-index: 1;
}

main {
	background: #fff;
	clear: both;
	overflow: hidden;
	position: absolute;
	max-width: 100%;
	width: 100%;
	z-index: 2;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

main > div {
	-moz-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%;
}

.subpage_overlay {
	display: block;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

body.homepage .subpage_overlay {
	display: none;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

ul, ol {
	margin: 0;
	padding: 0 0 0 1em;
}

sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}

sub {
	top: 0.3em;
	vertical-align: baseline;
	position: relative;
}

s {
	
}

.slideshow-nav { 
	margin-bottom: 0.5em; 
}

img {
	border: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 0 0 0 2em;
}

hr {
	background: rgba(127, 127, 127, 0.2);
	border: 0;
	height: 0.08em;
	display: block;
}

.bodycopy {
	display: none;
}

.container {
	min-height: 100%;
}

.content img {
	float: none;
	margin-bottom: 1em;
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

.loading[data-loading] {
	display: none;
	position: fixed;
	top: 8px; left: 8px;
	z-index: 100;
}

[data-css-presets="true"] main {
	background-color: rgb(255, 255, 255);
	text-align: left;
	min-height: 100vh;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	right: 0;
}

[data-css-presets="true"] .content_padded {
	padding: 3rem;
}

[data-css-presets="true"] .content_width {
	width: 75rem;
}

[data-css-presets="true"] #backdrop {
	width: 100%;
}

[data-predefined-style="true"] main {
	font-size: 3.2rem;
	font-weight: 200;
	color: rgba(0, 0, 0, 0.7);
	font-family: "Nitti Grotesk", Social;
	font-style: normal;
	line-height: 1.6;
}

[data-predefined-style="true"] main a {
	color: rgba(0, 0, 0, 0.7);
    border-bottom: 0.07em solid rgba(0, 0, 0, 0.15);
    text-decoration: none;
}

[data-predefined-style="true"] main a:hover {

}

main a.image-link,
main a.icon-link,
main a.image-link:hover,
main a.icon-link:hover {
	border-bottom: 0;
	padding-bottom: 0;
}

[data-predefined-style="true"] h1 {
	font-family: 'Titling Gothic FB Normal', Social /*!Persona*/;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	font-size: 3.6rem;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.8);
	text-rendering: optimizeLegibility;
}

[data-predefined-style="true"] h1 a {
	color: rgba(0, 0, 0, 0.8);
}

[data-predefined-style="true"] h2 {
	font-family: "Titling Gothic FB Normal", Social /*!Persona*/;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.4);
	font-size: 2.4rem;
	line-height: 1.8;
	text-rendering: optimizeLegibility;
}

[data-predefined-style="true"] h2 a {
	color: rgb(141, 170, 37);
	font-weight: bold;
}


[data-predefined-style="true"] small {
	display: inline-block;
	font-size: 1.2rem;
	line-height: 1.4;
	font-family: 'Titling Gothic FB Normal', Social;
	font-style: normal;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);
}

[data-predefined-style="true"] small a {
	color: rgba(0, 0, 0, 0.6);
	border-bottom-width: 0.1em;
}


[data-css-presets="true"] .subpage_overlay {
	background-color: rgba(0, 0, 0, 0);
}

#backstage_icon {
	display: block;
}

[data-css-presets="true"].mobile #plugin,
[data-css-presets="true"].mobile #backdrop,
.mobile #backdrop,
.mobile #plugin {
	position: relative;
	height: 50vh;
	min-width: 100%;
	width: calc(100% - 80rem);
	top: 0;
	bottom: auto;
	left: 0;
}

.mobile main,
[data-css-presets="true"].mobile main {
	position: relative;
	min-height: 10px;
	max-width: 100%;
	width: 100%;
}

.mobile main.content_width,
[data-css-presets="true"].mobile main.content_width {
	max-width: 100%;
	width: 100%;
}