header {
    padding-right: 9%;
    padding-left: 9%;
    padding-top: 30px;
}

h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
    color: peru;
}

a:link, a:hover, a:visited {
    color: gray;
    text-decoration: underline;
}

td {
    width: 50%;
    padding-bottom: 5%;
}

footer {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 4%;
    padding-bottom: 3%;
    text-align: center;
    background-color: rgb(243, 243, 243);
    height: flex;
    color: rgb(68, 68, 68);
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: peru;
}

.radius {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contact {
    text-decoration: none;
}

/* ------------ */
/* images grid */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
/* ------------ */

#corpo {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}
