<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Ranna Raabe - About</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 bg-white">
            <h5 class="my-0 mr-md-auto font-weight-normal">Ranna Raabe</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="../index.html">Home</a>
                <a class="p-2 text-dark" href="about.html">About</a>
                <a class="p-2 text-dark" href="portfolio.html">Portfolio</a>
                <a class="p-2 text-dark" href="mailto:rannaraabe@gmail.com">Contact</a>
            </nav>
        </div>
    </header>

    <div id="corpo">
        <div class="align-items-center">
            <img src="../img/rannaraabe.jpg" width="800px" alt="Ranna">
        </div>
        <br>
        <div id="about">
            <h6 id="title">About me</h6>
            Hi, I'm Ranna Raabe! Hand lettring artist since 2016 and computer science student Federal University of Rio Grande do Norte.
        </div>
        <div id="work">
            <h6 id="title">Work Experience</h6>
            <p>Freelancer Hand Letterer<br>
                2016 - 
            </p>
            <p>
                Web development at SESAP (Secretariat of Epidemiological Health of Rio Grande do Norte)<br>
                April 2020 - 
            </p>
            <p>
                Scientific initiation scholarship at Federal University of Rio Grande do Norte.<br>
                July 2019 - March 2020
            </p>
            <p>
                Web development at SEMUFRN (Federal University of Rio Grande do Norte Music School)<br>
                September 2018 - June 2019
            </p>
        </div>
    </div>

    <footer>
        <p><b>Feel free to request budgets or just tell a friendly friend. :)</b></p>
        <div style="padding-bottom: 15px;">
            <a href="https://www.instagram.com/rannaraabe/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                <img class="mr-3" src="../img/instagram2.png" width="25px" alt="instagram">
            </a>
            <a href="https://www.linkedin.com/in/ranna-raabe/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Linkedin">
                <img class="mr-3" src="../img/linkedin2.png" width="25px" alt="linkedin">
            </a>
            <a href="http://lattes.cnpq.br/7718455306741736" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Lattes">
                <img class="mr-3" src="../img/curriculo.png" width="25px" alt="lattes">
            </a>
        </div>
        <p>&copy; 2020 Ranna Raabe. All rights reserved.</p>
    </footer>
</body>

</html>