<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Portfolio - Ranna Raabe</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
            <h5 class="my-0 mr-md-auto font-weight-normal">Ranna Raabe</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="index.html">Home</a>
                <a class="p-2 text-dark" href="about.html">About</a>
                <a class="p-2 text-dark" href="portfolio.html">Portfolio</a>
                <a class="p-2 text-dark" href="contact.html">Contact</a>
            </nav>
        </div>
    </header>

    <div id="corpo">
        <div class="row">
            <div class="column">
                <img src="wedding.jpg">
                <img src="rocks.jpg">
                <img src="falls2.jpg">
            </div>
            <div class="column">
                <img src="underwater.jpg">
                <img src="ocean.jpg">
                <img src="wedding.jpg">
            </div>
            <div class="column">
                <img src="wedding.jpg">
                <img src="rocks.jpg">
                <img src="falls2.jpg">
            </div>
            <div class="column">
                <img src="underwater.jpg">
                <img src="ocean.jpg">
                <img src="wedding.jpg">
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2020 Ranna Raabe. All rights reserved.</p>
    </footer>

</body>

</html>