<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Ranna Raabe - Portfolio</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 bg-white">
            <h5 class="my-0 mr-md-auto font-weight-normal">Ranna Raabe</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="../index.html">Home</a>
                <!-- <a class="p-2 text-dark" href="about.html">About</a> -->
                <a class="p-2 text-dark" href="portfolio.html">Portfolio</a>
                <a class="p-2 text-dark" href="mailto:rannaraabe@gmail.com">Contact</a>
            </nav>
        </div>
    </header>

    <div id="corpo">
        <div id="digital-letterings">
            <h6 id="title">Digital Lettering</h6>
            <div class="row">
                <div class="column">
                    <img src="../img/arts/coisasboas.jpg">
                </div>
                <div class="column">
                    <img src="../img/arts/cafe.jpg">
                </div>
                <div class="column">
                    <img src="../img/arts/lar.jpg">
                </div>
                <div class="column">
                    <img src="../img/arts/vida.jpg">
                </div>
            </div>
        </div>
        <div id="formation">
            <h6 id="title">Formation</h6>
            <p>
                Bachelor of Information Technology at Federal University of Rio Grande do Norte<br>
                2018 - Present
            </p>
            <p>
                Specialist of UI/UX Design by California Institute of Arts<br>
                2020 - Present
            </p>
            <p>
                Specialist of User Experience Research and Design by University of Michigan<br>
                2020 - Present
            </p>
        </div>
        <div id="courses">
            <h6 id="title">Online Courses</h6>
            <p>
                Introduction to Typography at California Institute of Arts <br>
                2020 - Present
            </p>
            <p>
                Graphic Elements of Design: Color Theory and Image Formats at University of Colorado Boulder <br>
                2020 - Present
            </p>
            <p>
                Prototyping and Design at University of Minnesota <br> 
                2020 - Present
            </p>
            <p>
                User Research and Design at University of Minnesota <br>
                2020 - Present
            </p>
            <p>
                Basic Lettering by Faber Castell <br>
                2020 - Present
            </p>
            <p>
                Advanced Lettering by Faber Castell <br>
                2020 - Present
            </p>
        </div>
        <div id="awards">
            <h6 id="title">Awards</h6>
            2th Place Team at Potiguar Programming Contest (2019); 
        </div>
    </div>

    <footer>
        <p><b>Feel free to request budgets or just tell a friendly friend. :)</b></p>
        <div style="padding-bottom: 15px;">
            <a href="https://www.instagram.com/rannaraabe/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                <img class="mr-3" src="../img/logos/instagram2.png" width="25px" alt="instagram">
            </a>
            <a href="https://www.linkedin.com/in/ranna-raabe/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Linkedin">
                <img class="mr-3" src="../img/logos/linkedin2.png" width="25px" alt="linkedin">
            </a>
            <a href="http://lattes.cnpq.br/7718455306741736" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Lattes">
                <img class="mr-3" src="../img/logos/curriculo.png" width="25px" alt="lattes">
            </a>
        </div>
        <p>&copy; 2020 Ranna Raabe. All rights reserved.</p>
    </footer>
</body>

</html>